*{
    font-size: 62.5%;
}

body{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

header{
    height: 95vh;
    background-image: linear-gradient(to left bottom, hsla(342, 100%, 83%, 0.65), hsla(32, 100%, 87%, 0.65)), url(cat-cute.jpg);
    background-size: cover;
    background-position: top; /*ทำให้ภาพขยับตามขนาดหน้าจอ*/
    position: relative;
    clip-path: polygon(4% 0, 92% 0, 100% 100%, 0 96%);
}

.text-box{
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}

.primary{
    color: white;
    text-transform: uppercase; /*ทุกตัวอักษรตัวใหญ่*/
}

.main{
    display: block; /*เเสดงผลเป็นลักษณะกล่อง เเล้วขึ้นบรรทัดใหม่ */
    font-size: 9rem;
    letter-spacing: 2rem;
    animation: MoveInLeft;
    animation-duration: 1.5s;
}

.sub{
    display: block;
    font-size: 3rem;
    letter-spacing: 1rem;
    animation: MoveInRight;
    animation-duration: 1.5s;
}

.btn:link, .btn:visited{
    margin: 5%;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block; /*เรียงกันแนวนอนและมีพื้นที่ด้านใน ตามที่เรากำหนด */
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 500; /*ความหนาตัวอักษร*/
    position: relative;
    padding: 1.5rem 3rem; /*ปรับขนาดพื้นหลังปุ่ม*/
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-white{
    background-color: white;
    color: gray;
}
.btn-white:hover{
    background-color: #f8a5c2;
    transition: transform 0.5s;
}
.btn-white:active{
    background-color: #f7d794;
}

@keyframes MoveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-15rem);
    }
    80%{
        opacity: 0.8;
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes MoveInRight{
    0%{
        opacity: 0;
        transform: translateX(15rem);
    }
    80%{
        opacity: 0.8;
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.navigation__button{
    background-color: white;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 4rem;
    right: 15rem;
    z-index: 5;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after{
    width: 3rem;
    height: 2.5px;
    background-color: gray;
    display: inline-block;
}

.navigation__icon{
    position: relative;
    top: 3rem;
}

.navigation__icon::before{
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
}

.navigation__icon::after{
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
}

.navigation__button:hover .navigation__icon::before{
    top: -1.2rem;
}

.navigation__button:hover .navigation__icon::after{
    top: 1.2rem;
}

/* กากาบาท */

.navigation__checkbox:checked + .navigation__button .navigation__icon{
    background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before{
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after{
    top: 0;
    transform: rotate(-135deg);
}

/* ทำให้ปุ่ม check box หาย */

.navigation__checkbox{
    display: none;
}

.navigation__background{
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 5rem;
    right: 16rem;
    z-index: 3;
    background-image: radial-gradient(#FFB6B9, #FAE3D9);
    border-radius: 50%;
    transition: transform 1.5s cubic-bezier(0.075, 0.2, 0.065, 1);
}

.navigation__checkbox:checked ~ .navigation__background{
    transform: scale(100);
}

.navigation__nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0; /*ความโปร่งใส */
    width: 0;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navigation__checkbox:checked ~ .navigation__nav{
    opacity: 1;
    width: 100%;
}

.navigation__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.navigation__link:link, .navigation__link:visited{
    display: inline-block;
    margin: 1%;
    padding: 1%;
    font-size: 4rem;
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, #FFFDF6 0%, transparent 50%, gray 50%);
    background-position: 0%;
    background-size: 300%;
    transition: all 0.5s;
}

.navigation__link:hover, .navigation__link:active{
    background-position: 100%;
    color: #FAE3D9;
    transform: translateX(1rem);
}